pip install fastapi[all]
# pip install psycopg[binary]
pip install psycopg2-binary
pip install SQLAlchemy
pip install passlib[bcrypt]
pip install python-jose[cryptography]
pip install alembic
alembic init alembic
pip install pytest

uvicorn app.main:app --reload

8:29 zwracanie tylko swoich postów/zamówień

MY_DB_URL
localhost:5432

docker-compose -f docker-compose-dev.yml up -d

to do list:
-zeby pokazywał sie komunikat jak dodasz prosukt z taką samąnazwą 
-sprawdzic czy envy są poukrywane